:root .theme_dark {
  --background-img: url(../images/cover-image-dark.png);
  --rec-dot: rgba(255, 0, 112, 1);
  --hdr-ftr-title: rgba(219, 0, 255, 1);
  --hdr-ftr-shadow: rgba(255, 0, 112, 1);
  --hdr-menu: rgba(255, 0, 112, 1);
  --decor-zone-bck: rgba(255, 0, 112, 1);
  --decor-zone-text: rgba(0, 0, 40, 1);
  --section-title: rgba(255, 0, 112, 1);
  --main-text: rgba(241, 178, 206, 1);
  --link-shadow: rgba(255, 0, 112, 1);
  --link-effects: rgba(241, 178, 206, 1);
  --button-effects:rgba(255, 0, 112, 1);
  --button-effects-hover: rgba(255, 0, 112, 0.4);
}