:root.theme_dark {
    --accent-color: rgba(255, 0, 112, 1);
    --title-color: rgba(219, 0, 255, 1);
    --text-color: rgba(0, 0, 40, 1);
    --main-text-color: rgba(241, 178, 206, 1);
    --button-active: rgba(255, 0, 112, 0.4);
    --background-img: url(../images/cover-image-dark.png);
}

.page.theme_dark {
  background-image: var(--background-img);
}

.page.theme_dark .heading {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.page.theme_dark .header::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.page.theme_dark .header::after {
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}


.page.theme_dark .title-decor {
  color: var(--text-color);
  background-color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid var(--button-active);
}

.page.theme_dark .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-active);
}

.page.theme_dark .header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.page.theme_dark .title-main {
  color: var(--accent-color);
}

.page.theme_dark .text-content {
color: var(--main-text-color);
}

.page.theme_dark .span-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.page.theme_dark  .link {
  color: var(--main-text-color);
}

.page.theme_dark .link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.page.theme_dark .footer-title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

.page.theme_dark .footer::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.page.theme_dark .footer::after {
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}