:root .theme_light {
  --title-color: rgba(255, 194, 230, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --text-color: rgba(53, 52, 48, 1);
  --button-active: rgba(50, 49, 45, 0.4);
  --link-shadow: rgba(255, 141, 203, 1);
  --background-img: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
    :root {
        --title-color: rgba(255, 194, 230, 1);
        --accent-color: rgba(255, 141, 203, 1);
        --background-color: rgba(255, 141, 203, 1);
        --text-color: rgba(53, 52, 48, 1);
        --background-img: url(../images/cover-image-light.png);
    }
}

.page.theme_light {
  background-attachment: fixed;
  background-image: var(--background-img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'IBM Plex Mono', sans-serif;
} 
    
.page.theme_light .heading {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.page.theme_light .header::before {
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}
    
.page.theme_light .header::after {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.page.theme_light .rec_heading {
  display: none;
}

.page.theme_light .title-decor {
  color: var(--text-color);
  background-color: var(--accent-color);
}

.page.theme_light .header__theme-menu-button {
  color: var(--text-color);
}

.page.theme_light .header__theme-menu-button:hover {
  outline: 1px solid var(--button-active);
}
  
.page.theme_light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-active);
}

.page.theme_light .header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-active);
}

.page.theme_light .title-main {
  color: var(--text-color);
}
    
.page.theme_light .text-content {
  color: var(--text-color);
}
    
.page.theme_light .span-link {
  text-shadow: 2px 2px 0 var(--link-shadow);
}

.page.theme_light  .link {
  color: var(--text-color);
}
    
.page.theme_light .link:focus-visible {
  outline: 1px solid var(--text-color);
}

.page.theme_light .footer-title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}
    
.page.theme_light .footer::before {
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}
    
.page.theme_light .footer::after {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}